<div class="row justify-content-center">
    <div class="col-md-2 text-center">
        <i class="fa fa-coffee fa-2x category-icon"></i>
        <h5>Breakfast</h5>
    </div>
    <div class="col-md-2 text-center">
        <i class="fa fa-hamburger fa-2x category-icon"></i>
        <h5>Lunch</h5>
    </div>
    <div class="col-md-2 text-center">
        <i class="fa fa-utensils fa-2x category-icon"></i>
        <h5>Dinner</h5>
    </div>
    <div class="col-md-2 text-center">
        <i class="fa fa-birthday-cake fa-2x category-icon"></i>
        <h5>Desserts</h5>
    </div>
    <div class="col-md-2 text-center">
        <i class="fa fa-ice-cream fa-2x category-icon"></i>
        <h5>Ice Creams</h5>
    </div>
</div>
