
<div class="contact-info">
    <h3>Contact Info</h3>
    <p><i class="fas fa-map-marker-alt"></i> 143 - 158, Bernie Road, Kansas State, US</p>
    <p><i class="fas fa-phone"></i> +1 0202 326 987</p>
    <p><i class="fas fa-envelope"></i> enquires@bellamodel.com</p>
    <p><i class="fas fa-globe"></i> www.bellamodel.com</p>
    <div class="social-icons">
        <i class="fab fa-whatsapp"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-linkedin"></i>
    </div>
</div>
