
<div class="working-hours">
    <h3>Working Hours</h3>
    <ul class="working-hours-list">
        <li>Monday: <span>10 am - 10 pm</span></li>
        <li>Tuesday: <span>10 am - 10 pm</span></li>
        <li>Wednesday: <span>10 am - 10 pm</span></li>
        <li>Thursday: <span>10 am - 10 pm</span></li>
        <li>Friday: <span>10 am - 10 pm</span></li>
        <li>Saturday: <span>10 am - 10 pm</span></li>
        <li>Sunday: <span>Holiday</span></li>
    </ul>
</div>
